.switch {
  width: 48px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 16px;
  padding: 0 3.2px;
  cursor: pointer;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
  background-color: rgba(85, 243, 119, 0.4);
}

.handle {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 9999px;
}
